@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;800&display=swap");

.theme {
  color: white;
  font: 4vw/1 "Anek Tamil", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: "rgba(0, 0, 0, 0.7) 3px 3px 4px";
}

.theme button {
  transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out;
  outline: none;

  padding: 0.3em 2em 0.25em 2em;

  background: linear-gradient(#eee 0%, #ccc 100%);

  font: inherit;
  font-size: max(5vmin, 50px);
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;

  border: 0.5vmin solid #999;
  border-bottom-width: 1vmin;
  border-radius: 1vmin;
}

.theme button:hover {
  border-color: orange;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 5vmin, orange 0px 0px 1vmin;
}
