@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;800&display=swap");

.theme {
  color: white;
  font: 4vw/1 "Anek Tamil", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: "rgba(0, 0, 0, 0.7) 3px 3px 4px";
}

.theme button {
  transition: background 0.2s ease-out, box-shadow 0.2s ease-out,
    border-color 0.2s ease-out;
  outline: none;
  font: inherit;

  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;

  border: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 5px;
  background-color: #ddd;
  border-radius: 0.5rem;
  padding: 0.3rem 2rem 0.25rem 2rem;
}

.theme button:hover {
  background-color: white;
  border-color: orange;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 30px;
}
